<!DOCTYPE html>
<html>
<head>
  <title>TrieAngularLap</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body ng-app="WordApp">

<div ng-view></div>

</body>
</html>
